<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="minor, enquete, vragenlijst, antwoorden">
    <meta name="description" content="antwoorden vragenlijst minor web">
    <title>Verzonden antwoorden</title>
    <link rel="stylesheet" href="stylesend.css">

</head>
<body>
    <main>
    <h1>Resultaten</h1>
    <h2>Hi <%- data.naam %>, </h2>
    <p>Bedankt voor het invullen van de enquete!</p>

    <fieldset>
        <legend>Jouw resultaten</legend>
        <h3> Naam: <%- data.naam %> </h3> 
        <h3> Studentennummer:<%- data.nummer %> </h3> 


        <TABLE BORDER="2">
            <TR> <TH></TH>          <TH>Lesstof</TH>                   <TH>Uitleg</TH>                 <TH>Snappen</TH>                </TR>
            <TR> <TD>WAFS</TD> <TD><%- data['WAFS-lesstof'] %></TD> <TD><%- data['WAFS-uitleg'] %> </TD> <TD><%- data['WAFS-snap']%></TD> </TR>
            <TR> <TD>CSS</TD> <TD><%- data['CSS-lesstof'] %></TD> <TD><%- data['CSS-uitleg'] %> </TD> <TD><%- data['CSS-snap']%></TD> </TR>
            </TABLE>
        </fieldset>
</main>
</body>
</html>